<footer id="colophon">
  <div>
    <div id="cookie-notice" class="flex justify-center p-3">
      <p>
        This website uses cookies for operation of the website. Read our privacy
        policy to learn how we use your data. (<a href="/privacy-policy"
          >Trauma Dump Privacy Policy</a
        >)
      </p>
    </div>
    <div class="flex justify-center flex-row items-end m-5 gap-3">
      <div>
        &copy; <span id="copy"></span>
      </div>
      <div>
        <a href="https://susansilver.net/">Suzza Silver</a>
      </div>
    </div>
  </div>
</footer>

<script>
  const copyElement = document.querySelector("#copy");

  if (copyElement !== null) {
    (copyElement as HTMLElement).textContent = new Date()
      .getFullYear()
      .toString();
  } else {
    console.error('Element with ID "copy" not found.');
  }
</script>
